
.header li{
  list-style:none;
  float:left;
}
.header{
  background-color:#ff6699;
  height:120px;
}
.header-logo{
  color: #009933;
  float:left;
  font-size: 40px;
  padding:20px 40px;
}
.header-list{
  float:left;

}
.header-list li{
  float:left;
  padding:33px 20px;
}
h1{
  color:#0099FF;
  text-align:center;
  font-size:35px;

}
h2{
  color:#00cc00;
  text-align:center;
}
.main{
    max-width:50%;
    margin:0 auto;
}
div{text-align:center;}
.contents p{
    font-size: 20px;
    text-align: center;
}
span{
  background-color: #00cc00;
}


.footer{
  background-color: #00cc00;
  color:#fff;
  height:110px;
  padding: 40px;
}
.footer-logo{
  font-size:32px;
  float:left;
}
.footer-list{
  float:right;
}
.footer-list li{
  padding-bottom: 20px;
  list-style:none;
}
